* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    display: block;
    width: 95%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    display: flex;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(222, 222, 222);
    border-radius: 7px;
    padding:  7px 20px;
    line-height: 1;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 25%;
    position: relative;
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    transition: .2s all;
    z-index: 5;
  }


  .card:hover:not(:active) {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 0px 0px 2px rgba(173,255, 47, 0.5);
  }
  
  .card p {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    flex: 1;
    font-size: 1.1rem;
    /* margin-top: 5px; */
    padding: 30px 15px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }

  .group {
    margin: 10px 0px;
    padding: 20px 30px;
    border-radius: 10px;
    border: solid 1px rgb(199, 199, 199);
  }

  .loading {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading p {
    margin-left: 10px;
    font-family: tahoma;
  }

  .btn-delete {
    width: 25px;
    height: 25px;
    color: white;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 20px;
    font-size: 12px;
    cursor: pointer;
  }

  .btn-delete:hover {
    background-color: rgb(132, 132, 132);
  }
  